
{% extends 'base.html' %}   

{% block contend_main %}
<!-- COTENT CONTAINER -->
<div class="container p-160-cont pt-sm-60">

  <!-- LOGIN / REGISTER CONTAINER -->
  <div class="row">
    
    <div class="col-md-7 ">
      
      <form id="login-form">
                      
        <!-- INPUTS -->
        <div class="row mt-30">
          
          <!-- USERNAME -->
          <div class="col-md-12 mb-15">
            <input type="text" name="username" id="username" class="controled" placeholder="USERNAME" required="">
          </div>
          
          <!-- PASSWORD -->
          <div class="col-md-12 mb-15 mb-sm-15">
            <input type="password" name="password" id="password" class="controled" placeholder="PASSWORD" required="">
          </div>
              
        </div>
        
        <!-- BUTTONS -->
        <div class="row">
          <div class="col-md-12">
            <input type="submit" value="LOGIN" class="button rounded medium gray font-open-sans btn-block">
          </div>
        </div>
        
      </form>
      
        
      
    </div>   

  </div>

</div>

{% endblock  %}
        
	        


        
        
				
        
